/* -----------HEADER----------- */

.contenedor header{
    background-color: aliceblue;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoheader{
    width: 190px;
    display: flex;
    align-items: center;
    margin: 2px;
}
.menu{
    display: inline-block;
}
#listamenu li{
    display:inline;
    padding: 30px;
}
.aheader{ /*LINKS DEL HEADER EFECTOS*/
    display: inline-block;
    box-shadow: inset 0 0 0 0 #7d2c2c;
    color: #b10909;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
}
.aheader:hover {
    box-shadow: inset 100px 0 0 0 #b10909;
    color: white;
}
nav a{ /*links en negrita*/
    font-weight: 600;
}

/* -----------Estilo base contacto----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    color: white;
    font-family: sans-serif;
}

/* -----------MAIN contacto----------- */
main {
    background-color: aliceblue;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2{
    color: #b10909;
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

textarea {
    margin: 0px;
    font-size: 20px;
    min-height: 150px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

.formulario__grupo-input{
    position: relative;
    font-size: 20px;
    margin: 20px;
    
}

.formulario__input {
    width: 100%;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    line-height: 45px;
    border-radius: 10px;
}

.formulario__validacion-estado {
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 1000;
    font-size: 16px;
    opacity: 0;
}

.formulario__input:focus {
    border-color:#b10909;
    box-shadow: 0 0 5px #b10909;
}

.formulario__input-error {
    font-size: 18px;
    margin: 20px;
    display: none;
    color: #b10909;
}

.formulario__input-error-activo {
    display: block;
}


.formulario__checkbox{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-bottom: 20px ;
}

.formulario__grupo-terminos {
    text-align: center;
    font-size: 20px;
    color: #b10909;
}

.formulario__mensaje {
    display: none;
    border-radius: 5px;
    background: #f00;
    text-align: center;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    padding: 15px 35px;
    background: white;
    color: #b10909;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.formulario__btn:hover {
    background: #b10909;
    color: white;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: #20b80c;
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo { 
    display: block;
}


/* -----------VALIDACIÓN----------- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #29ee0f;
    opacity: 1;
}



.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #ee0f0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid #ee0f0f;
    
}


/* -----------Responsive----------- */
@media screen and (max-width:720px) {

    .formulario__grupo-terminos, 
    .formulario__mensaje, 
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}

/* -----------FOOTER----------- */

.contenedor footer{ /*INICIO EDICION PIE*/
    background-color: rgb(131, 75, 152);
    grid-row: 4/5;
    grid-column: 1/5;
}
.pie-pagina{  
    width: 100%;
    background-color:rgb(73, 85, 119);
    line-height: 28px;
    display: grid;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 35px;
    color: black; 
}

.pie-pagina .grupo-1 h3{ /*Titulos*/
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 img{
    width: 20px;
    height: 20px;
}

.pie-pagina .grupo-1 ul{ /* texto inf de contacto*/
    color: black;
    margin-bottom: 10px;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

.pie-pagina .grupo-1 ul a:hover{
    color: #c72828;
}

.pie-pagina .grupo-1 ul a{
    color: black;
}

.pie-pagina .grupo-1 .red-social a{  /*NUESTRAS REDES*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    text-align: center;
}
.pie-pagina .grupo-1 .links a:hover{
    color: #c72828;
}    
.pie-pagina .grupo-1 .red-social img:hover{
    color: #c72828;
}

.pie-pagina .grupo-1 .links li a{ /*links de la columna LINKS*/
    padding: none;
    text-decoration: none;
    color: black;
    text-align: left;
}

.pie-pagina .grupo-2{ /*copyright*/
    background-color: rgb(0, 0, 51);
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.column2{ /*columna links a la izq*/
    text-align: right;
    margin-right: 100px;
}
.pie-pagina .grupo-2 small{ /*copyright - FIN EDICION PIE*/
    font-size: 15px;
}

@media screen and (max-width: 920px){
    .contenedor footer{
        grid-row: 5/6;
        grid-column: 1/5;
    }
    .column2{ /*columna links a la izq*/
        text-align: left;
        margin-left: 40px;
    }
    .pie-pagina .grupo-1 ul{ /* texto inf de contacto*/
        color: black;
        margin-bottom: -10px;
    }
    .pie-pagina .grupo-1 h3{ /*Titulos*/
        margin-bottom: 10px;
        font-size: 20px;
    }
}
@media screen and (max-width: 600px){
    .formulario{
        width: 80%;
    }
    .contenedor footer{
        grid-row: 5/6;
        grid-column: 1/5;
    }
    .column2{ /*columna links a la izq*/
        text-align: left;
    }
    .pie-pagina .grupo-1 h3{ /*Titulos*/
        margin-bottom: 10px;
        font-size: 20px;
    }
    .pie-pagina .grupo-1 ul{ /* texto inf de contacto*/
        margin-bottom: -10px;
    }
}