*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container_Questions{
    width: 90%;
    margin: 100px auto;
}

.container-faq{
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.container-faq .title-faq{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;   
}

.container-faq .item-faq{
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 10px;
}

.container-faq .item-faq .question{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(164, 168, 204, 0.2);
    padding: 20px 20px 20px 80px;
    transition: .4s;
    font-size: 20px;
}

.container-faq .item-faq .question .more{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}

.container-faq .item-faq .question .more:hover{
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.4);
}

.container-faq .item-faq .question span{
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: 0.1;
}

.container-faq .item-faq .question img{
    width: 35px;
    height: 35px;
}

.container-faq .item-faq .answer{
    padding-left: 80px;
    overflow: hidden;
    height: 0;
    transition: .4s;
}
.container-faq .item-faq .answer p{
    font-size: 20px;
}

header{
    background-color: aliceblue;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoheader{
    width: 190px;
    display: flex;
    align-items: center;
    margin: 2px;
}
.menu{
    display: inline-block;
}
#listamenu li{
    display:inline;
    padding: 30px;
}
.aheader{ /*LINKS DEL HEADER EFECTOS*/
    display: inline-block;
    box-shadow: inset 0 0 0 0 #7d2c2c;
    color: #b10909;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
}
.aheader:hover {
    box-shadow: inset 100px 0 0 0 #b10909;
    color: white;
}
nav a{ /*links en negrita*/
    font-weight: 600;
}

/*FOOTER*/
footer{ 
    background-color:rgb(73, 85, 119);
}
footer .pie-pagina{  
    width: 100%;
    background-color:rgb(73, 85, 119);
    line-height: 28px;
    display: grid;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 35px;
    color: black; 
}

.pie-pagina .grupo-1 h3{ /*Titulos*/
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 img{
    width: 20px;
    height: 20px;
}

.pie-pagina .grupo-1 ul{ /* texto inf de contacto*/
    color: black;
    margin-bottom: 10px;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

.pie-pagina .grupo-1 ul a:hover{
    color: lightpink;
}

.pie-pagina .grupo-1 ul a{
    color: black;
}

.pie-pagina .grupo-1 .red-social a{  /*NUESTRAS REDES*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    text-align: center;
}
.pie-pagina .grupo-1 .links a:hover{
    color: lightpink;
}    
.pie-pagina .grupo-1 .red-social img:hover{
    color: lightpink;
}

.pie-pagina .grupo-1 .links li a{ /*links de la columna LINKS*/
    padding: none;
    text-decoration: none;
    color: black;
    text-align: left;
}

.pie-pagina .grupo-2{ /*copyright*/
    background-color: rgb(34, 4, 48);
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.column2{ /*columna links a la izq*/
    text-align: right;
    margin-right: 100px;
}
.pie-pagina .grupo-2 small{ /*copyright - FIN EDICION PIE*/
    font-size: 15px;
}